﻿@model EjemploWebFrameworkEF.Models.vw_modelo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>vw_modelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combustible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combustible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year_modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year_modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
