﻿@model IEnumerable<EjemploWebFrameworkEF.Models.vw_modelo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.asientos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combustible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year_modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.asientos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combustible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year_modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id_modelos })
        </td>
    </tr>
}

</table>
